.note-button {
    background-color: var(--details);
    color: var(--clair);
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: start;
  }
  
  .note-button:hover {
    background-color: var(--bleu-pale);
  }
  .note-buttons {
    margin-bottom: 10px;
  }
  
  
  .star-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .fa-star {
    transition: color 0.3s;
  }
  
  .fa-star.active {
    color: gold;
  }
  
  .star-button:hover .fa-star {
    color: orange;
  }
  