.image-container {
    width: 100%; /* Defina a largura desejada do contêiner */
    height: 500px; /* Defina a altura desejada do contêiner */
    overflow: hidden; /* Oculta qualquer parte da imagem que exceda o contêiner */
    position: relative; /* Para alinhar a imagem centralizada */
}

.hero {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o contêiner sem deformar */
    position: absolute; /* Para centralizar a imagem dentro do contêiner */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accueil-p{
    color: var(--clair);
    padding: 10px;
}