.film-card {
  margin: auto;
  width: 60%;
  display: grid;
  padding: 1em;
  border-radius: 8px;
 
}


.film-content {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 1em;
}

.film-img {
  border-radius: 4px;
}

.film-info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.film-title {
  font-size: 2rem;
  color: var(--clair);
  margin-top: 0.5em;
  
}

.film-detail {
  color: var(--clair);
  margin: 0.2em 0;
}

.submit-button {
  background-color: var(--details);
  color: var(--clair);
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
}

.submit-button:hover {
  background-color: var(--bleu-pale);
}
.delete-button {
  background-color: #ff6347; 
  color: white; 
}

.delete-button:hover {
  background-color: #d32f2f; 
}
.boite-commentaires{
  display: flex;
  flex-wrap: wrap;
}
.boite-commentaires > :first-child {
  width: 100%;
}
.comment-box {
  display:flex;
  border-radius: 4px;
  background-color: #9d9d9d;
  border: 1px solid var(--bleu-sombre);
  padding: 10px;
  margin-bottom: 10px;
}
