.filtre-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .filtre-list li {
    cursor: pointer;
    padding: 10px 15px;
    color: var(--clair);
    transition: color 0.3s ease;
  }
  
  .filtre-list li:hover {
    color: #0056b3;
  }
  
  .filtre-list li.active {
    color: #0056b3;
    text-decoration: underline;
  }
 